a {
  text-decoration: none;  
}

a:hover {
  color: #734f82;
}

body {
  background-color: #333333;
}

body, html {
  margin: 0;
  padding: 0;
}

.logo{
  width: 40px;
  height: 40px;
}


.navbar {
  background: #1a1a2e;
  padding: 0.5rem 2rem;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav-container {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: transform 0.2s ease;
}

.logo-link:hover {
  transform: scale(0.87);
}


.nav-menu {
  display: flex;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-menu li {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s;
}

.nav-menu li:hover {
  color: #734f82;
}

.picture {
  border-radius: 12px;
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.3);
  height: 20%;
  width: 20%;
}

.body-container {
  display: flex;
  align-items:normal;
}

.text-container {
  flex: 1;
  margin-right: 20px;
  word-wrap: break-word;        
  word-break: break-word;       
  overflow-wrap: break-word;   
  max-width: 30%; 
}

.body-container-whoami {
  display: flex;
  flex-direction: column;
}

*{
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  color: #ffffff;
}